<div id="home" layout="row" layout-xs="column">

<div flex>
<div id="slider">
    <div id="photo-container">
    <figure>
    <img src="/images/profile.jpg"/>
    <img src="/images/webbmountain.jpg"/>
    <img src="/images/diamond.jpg"/>
    <img src="/images/glacier.jpg"/>
    <img src="/images/slackoverflow.jpg"/>
    <img src="/images/photos.jpg"/>
    <img src="/images/classes.jpg"/>
    <img src="/images/sabe.jpg"/>
    </figure>
    </div>
</div>
</div>  


<div flex>
<div id="quote">“Any fool can write code that a computer can understand. Good programmers write code that humans can understand.”<div id="author">-Martin Fowler</div></div>
<div id="paragraph">
    <div id="name">I'm Christiana Routon - an aspiring developer passionate about building things that help others.</div>
    <div id="description">
        I began teaching high school math in 2015.  In 2016 I started the high school's first computer science class.  
        It was then that I discovered my true passion - development.  When I moved to Minneapolis I sought opportunities
        to explore my passion.  That's how I found Prime Digital Academy.  I graduate in May with a certificate in full
        stack engineering.
    </div>
    <ul id="menu">
        <li class="list_item" id="resume"><a href="https://docs.google.com/document/d/10HYt1uRsQ3gTV85iq4Ji7FXVJPz_KonNNVM2kSrcIMU/edit?usp=sharing">RESUME</a></li>
        <li class="list_item" id="projects"><a href="#!/projects">PROJECTS</a></li>
        <li class="list_item" id="github"><a href="https://github.com/crouton21">GITHUB</a></li>
        <li class="list_item" id="linkedin"><a href="https://www.linkedin.com/in/christiana-routon-68535814a/">LINKEDIN</a></li>
    </ul>
</div>
</div>


</div>
  